.page{
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url('../../assets/images/main-section-bg.png');
}

.container{
  margin:  0 auto;
  max-width: 1440px;
  padding: 0 20px;
}

.app{
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
}
