@import '../../../../style/vars.scss';

.main-page{
  padding-top: 200px;

  &__inner{
    max-width: 1060px;
  }

  &__tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 12px 14px;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }

  
  &__title {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: #e25702;



    span{
      border-right: 0.09em solid #666;
      background: linear-gradient(90deg, rgba(226,87,2,1) 0%, rgba(226,87,2,1) 40%, rgba(239,163,116,1) 100%, rgba(239,163,116,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: white;
    }
  }

  &__text {
    margin-bottom: 25px;
    color: white;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;

    span{
      position: relative;
      font-weight: 700;
      background: linear-gradient(90deg, rgba(226,87,2,1) 0%, rgba(226,87,2,1) 40%, rgba(239,163,116,1) 100%, rgba(239,163,116,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after{
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        content: '';
        height: 2px;
        width: 100%;
        background: linear-gradient(90deg, rgba(226,87,2,1) 0%, rgba(226,87,2,1) 40%, rgba(239,163,116,1) 100%, rgba(239,163,116,1) 100%);
      }
    }

  }
}



